body {
  margin: 0px;
  font-family: "Futura";
  background-color: lightgray;
}

#body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  margin: 5px;
}

li {
  list-style-type: none;
}

ul {
  margin: 10px 0px;
  padding: 0px;
}

.modal {
  display: none;
  position: fixed;
  opacity: 1;
  z-index: 2;
  border: 1px solid black;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 35%;
  flex-direction: column;
}

.modal h2 {
  align-self: center;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

.modal p {
  margin: 20px 30px;
}

.modal a {
  text-decoration: none;
  align-self: center;
  font-size: 12px;
  margin-top: 20px;
}

@keyframes widen {
  from {
    width: 0%;
  }

  to {
    width: 30%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#underline {
  height: 2px;
  background-color: black;
  width: 30%;
  margin-bottom: 30px;
  animation-duration: 4s;
  animation-name: widen;
  display: flex;
  flex-direction: row;
}

#progress-bar {
  background-color: red;
}

#main {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 500px;

  --bottom-red: 102;
  --bottom-green: 51;
  --bottom-blue: 153;

  --top-red: 64;
  --top-green: 224;
  --top-blue: 208;

  animation-name: fadein;
  animation-duration: 3s;
}

#display {
  width: 60%;
}

#controls {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: slategray;
}

#customizer {
  width: 20%;
}

#song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 30%;
  border-bottom: 1px solid black;
}

#play-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  align-self: center;
  border-top: 1px solid black;
}

#play-controls div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#play-controls i {
  font-size: 3em;
  margin: 20px;
  cursor: pointer;
}

#play-controls i:hover {
  opacity: 0.7;
}

#play-controls i:active {
  font-size: 2.5em;
}

#song-file {
  display: none;
}

#upload-button {
  width: 60%;
  align-self: center;
  padding: 15px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#upload-button label {
  cursor: inherit;
}

#customizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: slategray;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.color-picker ul {
  width: 100%;
}

.color-picker li {
  height: 15px;
  margin: 7px 20px;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-mark {
  height: 17px;
  width: 5px;
  background-color: black;
}

.red {
  background: linear-gradient(to right, red, white);
}

.green {
  background: linear-gradient(to right, green, white);
}

.blue {
  background: linear-gradient(to right, blue, white);
}

#top-sample {
  width: 30px;
  height: 30px;
  background-color: rgb(var(--top-red), var(--top-green), var(--top-blue));
}

#bottom-sample {
  width: 30px;
  height: 30px;
  background-color: rgb(var(--bottom-red), var(--bottom-green), var(--bottom-blue));
}

#form-select p {
  cursor: pointer;
}

.selected {
  color: red;
}

.little-bar {
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(var(--bottom-red), var(--bottom-green), var(--bottom-blue));
}

#outer-bar div {
  border: none;
  background: linear-gradient(0deg, rgb(var(--bottom-red), var(--bottom-green), var(--bottom-blue)), rgb(var(--top-red), var(--top-green), var(--top-blue)));
  width: 2px;
}

#display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

#outer-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#microphone {
  align-self: center;
  font-size: 1.5em;
  cursor: pointer;
}

#microphone:hover {
  opacity: 0.7;
}

#footer {
  margin-bottom: 10px;
  margin-top: 10px;
}

#footer a {
  text-decoration: none;
  margin: 10px;
  color: gray;
}

#masthead {
  cursor: pointer;
}
